body{
    background-color: #cacaca;
    color: #181818;
    font-family: 'Segoe UI';

}

.cheff_imagem{
    width: 150px;
}

.tabela-receitas{
    width: 90%;
}

.sucodelaranja_imagem{
    width: 80px;
}