{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <table border="1" class="table table-secondary table-striped table-hover">
        <tr class= "table-dark">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td>
                <img src="{% static 'sucodelaranja_imagem.png' %}" class="icone-suco">
                
                {% for chave, uma_receita in lista_receitas.items %}
                    <strong>{{uma_receita}}</strong><br>
                {% endfor%}

            </td>
            <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
            <td>
                <a href="{% url 'sucodelaranja' %}" class= "btn btn-dark">Ver receita completa</a></td>
        </tr>
        
    </table>
{% include 'partials/footer.html' %}
{% endblock %}

