{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>
        <img src="{% static 'cheff_imagem.png' %}" class = "cheff_imagem">
        Receitas
    </h1>
    <h2> Como preparar um deliciosas receitas</h2>
    <table border="1" class="tabela-receitas">
        <tr>
          <th>Dica</th>
          <th>Vídeo</th>
          <th>Passo a Passo</th>
         </tr>
    <tr>
        <td>
            <img src="{% static 'sucodelaranja_imagem.png'%}"
            class = "sucodelaranja_imagem">
            Suco de Laranja
        </td>
        <td>https://www.youtube.com/watch?v=Nn9140bDPnc</td>
        <td><a href="{% url 'sucodelaranja' %}"> Modo de preparo</a></td>
    </tr>
</table>
{% endblock %}

