{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/header.html' %}
{% include 'partials/menu.html' %}
    <table border="1" class="table table-secondary table-striped table-hover">
        <tr class= "table-dark">
            <th>Receita</th>
            <th>Vídeo</th>
            <th>Ações</th>
            <th>Nota</th>
        </tr>

        {% for receita in lista_receitas %}
            <tr>
                <td>
                    {{receita.nome_receita}}
                </td>
                <td>{{receita.video}}</td>
                <td>
                    <a href="{% url 'receita' receita.id %}" class= "btn btn-dark">Ver receita completa</a></td>
                <td>
                    {% with ''|center:receita.nota as range %}
                    {% for i in range %}
                    <img src="https://img2.gratispng.com/20180217/kxw/kisspng-triangle-yellow-pattern-yellow-star-image-5a888e623d59a6.0193086215188987862513.jpg" width="18">
                    {% endfor %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor%}
    </table>
{% include 'partials/footer.html' %}
{% endblock %}

